<form id="send-message-form" class="sendmessage-form">
    <div class="recipients">
        <div class="recipients-inner-wrapper">
            <h2>Select Recipients</h2>

            <% if @current_user.classroom_ids.length > 1 %>
                <div class="class-tabs"> <!-- this should not get rendered if teacher has only 1 class -->
                    
                    <% @current_user.classroom_ids.each do |id| %>   
                        <div class="class-tab">
                            <input type="checkbox" id="class-tab-<%= id %>" class="show-hide-checkbox">
                            <label for="class-tab-<%= id %>" class="room-label"> 
                                <%= Classroom.findBy(id).name %> 
                            </label> 
                            <!-- clicking this label causes its corresponding fieldset to be shown and hides the other tabs -->
                            <!-- the label for attribute, the input id attribute, and the class-list fieldset element's id are all the same value, allowing css to hide and show the tabs -->
                        </div>  
                    <% end %>

                </div>
            <% end %>

            <% if @current_user.classroom_ids.length == 0 %>
                <div>
                    You don't have any students.
                </div>
            <% end %>

            <% @current_user.classroom_ids.each do |id| %>   
                <div class="class-list">

                    <fieldset id="<%= id %>">
                        <legend>Select Recipients</legend>
                        <ul>
                            <% Classroom.findBy(id).students.each_with_index do |student, index| %>
                                <li>

                                    <input type="checkbox" id="student[<%= index %>]" name="student[<%= index %>]" value="<%= student.id %>
                                    " class="student-select" />
                                    <label for="student[<%= index %>]"><%= student.Student_name %></label>
                                </li>
                            <% end %>
                        </ul>
                    </fieldset>


                </div>
            <% end %>
        </div>

    </div>
    <div class="message-input">

    <div class="message-input-inner-wrapper">
        <div class="message-template-input-wrapper">

            <h2 class="message-input-title">Select from a template</h2>

            <ul class="message-template-list">
              <li class="message-template-item">Head Start / Early Head Start classes cancelled due to weather</li> 
              <li class="message-template-item">Head Start classes will be starting late. Start time will be available from local radio station. </li>
              <li class="message-template-item">Head Start/Early Head Start classes are closing early today due to weather.  Please pick up your child at _____.</li>
              <li>Reminder - No Head Start/Early Head Start classes on ______ due to teacher inservice or work day.</li>
            </ul>

        </div>

        <div class="message-custom-input-wrapper">
            <h2 class="message-input-title message-custom-input-title">Customize your message</h2>
            
            
            <textarea class="message-textarea" form="send-message-form" id="msg-text"></textarea>
            

        </div>
            
        <div class="submit-button-wrapper">
            <input class="submit-button button" type="submit" method="POST" value="Send Message">
        </div>     
    </div>

 


    </div>
</form>