= form_for :text, :url => {:controller => 'text', :action => 'index'} do
  = label :text, :number, 'Number'
  = text_field :number, ''

  = label :text, :message, 'Message'
  = text_area :message, ''

  = submit_tag 'Send!', :id => 'send_to'

  -#= link_to 'New text', new_text_path

