= form_for :text, :url => {:controller => 'text', :action => 'index'} do
  = label :text, :number, 'Name or Number'
  = text_field :number, '', :id => 'aNum', :placeholder => 'e.g. 2223334444, 5556667777', :value => @pop_value

  = label :text, :message, 'Message'
  = text_area :message, '', :id => 'aMessage', :placeholder => 'Insert message here.'

  = submit_tag 'Send!', :id => 'send_to'
  = submit_tag 'Send To All!', :id => 'send_to_all'