<form>
    <div class="recipients">

        <h2>Select Recipients</h2>

        <% if @current_user.classroom_ids.length > 1 %>
            <div class="class-tabs"> <!-- this should not get rendered if teacher has only 1 class -->
                
                <% @current_user.classroom_ids.each do |id| %>   
                    <div class="class-tab">
                        <input type="checkbox" id="class-tab-<%= id %>" class="show-hide-checkbox">
                        <label for="class-tab-<%= id %>" class="room-label"> 
                            <%= Classroom.findBy(id).name %> 
                        </label> 
                        <!-- clicking this label causes its corresponding fieldset to be shown and hides the other tabs -->
                        <!-- the label for attribute, the input id attribute, and the class-list fieldset element's id are all the same value, allowing css to hide and show the tabs -->
                    </div>  
                <% end %>

            </div>
        <% end %>

        <% @current_user.classroom_ids.each do |id| %>   
            <div class="class-list">

                <fieldset id="<%= id %>">
                    <legend>Select Recipients</legend>
                    <ul>
                        <% Classroom.findBy(id).students.each_with_index do |student, index| %>
                            <li>

                                <input type="checkbox" id="student[<%= index %>]" name="student[<%= index %>]" value="<%= student.id %>
                                " class="student-select" />
                                <label for="student[<%= index %>]"><%= student.Student_name %></label>
                            </li>
                        <% end %>
                    </ul>
                </fieldset>


            </div>
        <% end %>
    </div>
    <div class="message-input">

        <h2>Compose Message</h2>
        
        <div class="msg-text-wrapper">
            <input type="textarea" id="msg-text">
        </div>

        <div class="submit-button-wrapper">
            <input type="submit" method="POST" value="Send Message">
        </div>

    </div>
</form>