= form_for :text, :url => {:controller => 'text', :action => 'index'} do
  = label :text, :number, 'Number'
  = text_field :number, '', :id => 'aNum'

  = label :text, :message, 'Message'
  = text_area :message, '', :id => 'aMessage'

  = submit_tag 'Send!', :id => 'send_to'
  = submit_tag 'Send To All!', :id => 'send_to_all'