= form_for @classroom do |f|
  - if @classroom.errors.any?
    #error_explanation
      %h2= "#{pluralize(@classroom.errors.count, "error")} prohibited this classroom from being saved:"
      %ul
        - @classroom.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :name, "Select teachers who can see this classroom "
    - for user in User.find(:all)
      - if !user.admin
        = user.name
        = check_box_tag "classroom[user_ids][]", user.id, @classroom.users.include?(user)
  .actions
    = f.submit 'Save'
