= form_for @classroom do |f|
  - if @classroom.errors.any?
    #error_explanation
      %h2= "#{pluralize(@classroom.errors.count, "error")} prohibited this classroom from being saved:"
      %ul
        - @classroom.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
    %br/
    %br/
  .field
    = f.label :name, "Teachers: "
    - for user in User.find(:all)
      - if !user.admin
        %br/
        = check_box_tag "classroom[user_ids][]", user.id, @classroom.users.include?(user)
        = user.name
  %br/
  .actions
    = f.submit 'Save'
