= form_for @student do |f|
  - if @student.errors.any?
    #error_explanation
      %h2= "#{pluralize(@student.errors.count, "error")} prohibited this student from being saved:"
      %ul
        - @student.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Student_Name
    = f.text_field :Student_Name
  .field
    = f.label :Parent_Name
    = f.text_field :Parent_Name
  .field
    = f.label :Phone_Number
    = f.text_field :Phone_Number
  .field
    = f.label :Email
    = f.text_field :Email
  .field
    = f.label :can_text
    = f.check_box :can_text, {}, "true", "false"
  .field
    = f.label :classroom_name
    = f.select :classroom_name, Classroom.all.collect{|n| n.name}, :include_blank => true
  .actions
    = f.submit 'Save'
