= form_for @student do |f|
  - if @student.errors.any?
    #error_explanation
      %h2= "#{pluralize(@student.errors.count, "error")} prohibited this student from being saved:"
      %ul
        - @student.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :Student_Name, 'Student Name *'
    = f.text_field :Student_Name
    %br/
  .field
    = f.label :Classroom, 'Classroom : '
    - for classroom in Classroom.find(:all)
      %label
        %br/
        = check_box_tag "student[classroom_ids][]", classroom.id, @student.classrooms.include?(classroom)
        = classroom.name  
  %br
  .field
    = label :student, :Contacts, 'Associate existing contacts: '
    %br/
    -for contact in Contact.find(:all)
      %label
        = check_box_tag "student[contact_ids][]", contact.id, @student.contacts.include?(contact)
        = contact.Name
        %br/
  %br/
  .actions
    = f.submit 'Save'