%h2 Edit student

= form_tag "/students/#{@student[:id]}", :method => :put do

  = label :student, :name, 'Name'
  = text_field :students, 'name'
  %br/
  = label :students, :parent_name, 'Parent name'
  = text_field :students, 'parent_name'
  %br/
  = label :students, :email, "Email"
  = text_field :students, 'email'
  %br/
  = label :students, :phone, 'Phone number'
  = text_field :students, 'phone'
  %br/
  = submit_tag 'Update Student Info'

