%h2 Edit student

= form_tag "/students/#{@student[:id]}", :method => :put do

  = label :student, :name, 'Name'
  = text_field :students, 'name', :value => "#{@student[:Student_Name]}" #
  %br/
  = label :students, :classroom, 'Classroom: '
  - for classroom in Classroom.find(:all) 
    - thing = classroom.name
    %label 
      = thing  
      = check_box_tag "students[classroom_ids][]", classroom.id, @student.classrooms.include?(classroom)
  %p
  %table#contacts
    %td{:style=>"width: 150px"} <b>Contact Name</b>
    %td{:style=>"width: 150px"} <b>Phone Number</b>
    %td{:style=>"width: 150px"} <b>Can they text?</b>
    - @student.contacts.each do |contact|
      %tr
        %td= link_to "#{contact.Name}", contact
        %td= contact.Phone_Number
        %td= contact.can_text
  %p
  = link_to "Add new contact"
  %br
  %br
  = submit_tag 'Update Student Info'
  