%h1 Listing students

%table
  %tr
    %th Student name
    %th Parent name
    %th Phone number
    %th Email
    %th
    %th
    %th

  - @students.each do |student|
    %tr
      %td= student.Student_Name
      %td= student.Parent_Name
      %td= student.Phone_Number
      %td= student.Email
      %td= link_to "Show #{student.Student_Name}", student
      %td= link_to 'Edit', edit_student_path(student)
      %td= link_to 'Delete', student, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Add New Student', new_student_path
