%p
  %b Student name:
  = @student.student_name
%p
  %b Classroom:
  = " | "
  - @student.classrooms.each do |room|
    = link_to "#{room.name}", room
    = " | "
%p
  %table#contacts
    %td{:style=>"width: 150px"} <b>Contact Name</b>
    %td{:style=>"width: 150px"} <b>Phone Number</b>
    %td{:style=>"width: 150px"} <b>Can they text?</b>
    - @student.contacts.each do |contact|
      %tr
        %td= link_to "#{contact.name}", contact
        %td= contact.Phone_Number
        %td= contact.can_text
        %td= link_to "Edit #{contact.name}", edit_contact_path(contact), class: "btn"
  

\|
= link_to "Edit #{@student.student_name}", edit_student_path(@student)
\|
= link_to "Delete #{@student.student_name}", student_path(@student), :method => :delete, :data => { :confirm => 'Are you really sure?' }
\|
%br/
%br/
\|
= link_to 'List Students', students_path
\|
= link_to 'List Contacts', contacts_path
\|
= link_to 'List Classrooms', classrooms_path
\|
- if admin?
  = link_to 'List Users', users_path
  \|
