%p
  %b Student name:
  = @student.Student_Name
%p
  %b Parent name:
  = @student.Parent_Name
%p
  %b Phone number:
  = @student.Phone_Number
%p
  %b Email:
  = @student.Email
%p
  %b Can text:
  = @student.can_text
%p
  %b Classroom:
  = @student.classroom_name

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', students_path
\|
= link_to 'Delete', student_path(@student), :method => :delete, :data => { :confirm => 'Are you really sure?' }
