%p
  %b Student name:
  = @student.Student_Name
%p
  %b Classroom:
  - @student.classrooms.each do |room|
    = room.name
%p
  %table#contacts
    %td{:style=>"width: 150px"} <b>Contact Name</b>
    %td{:style=>"width: 150px"} <b>Phone Number</b>
    %td{:style=>"width: 150px"} <b>Can they text?</b>
    - @student.contacts.each do |contact|
      %tr
        %td= link_to "#{contact.Name}", contact
        %td= contact.Phone_Number
        %td= contact.can_text
        %td= link_to "Edit #{contact.Name}", edit_contact_path(contact), class: "btn"
  
  
  

= link_to "Edit #{@student.Student_Name}", edit_student_path(@student)
\|
= link_to 'Back', students_path
\|
= link_to "Delete #{@student.Student_Name}", student_path(@student), :method => :delete, :data => { :confirm => 'Are you really sure?' }

