%p
  %b Student name:
  = @student.Student_Name
%p
  %b Classroom:
  - @student.classrooms.each do |room|
    = room.name

- if admin?
  = link_to 'Edit', edit_student_path(@student)
  \|
= link_to 'Back', students_path
\|
- if admin?
  = link_to 'Delete', student_path(@student), :method => :delete, :data => { :confirm => 'Are you really sure?' }

