= render "shared/error_messages", :target => @user
%p
  = form.label :name
  = form.text_field :name
%p
  = form.label :email
  = form.text_field :email
%p
  = form.label :password, form.object.new_record? ? nil : "Change password"
  = form.password_field :password
%p
  = form.label :password_confirmation, 'Password confirmation'
  = form.password_field :password_confirmation
%p
  = form.label :admin
  = form.check_box :admin, {}, "true", "false"
%p
  - for classroom in Classroom.find(:all)
    - thing = classroom.name
    %label
      = thing
      = check_box_tag "user[classroom_ids][]", classroom.id, @user.classrooms.include?(classroom)
