= render "shared/error_messages", :target => @user
%p
  = form.label :name
  %br/
  = form.text_field :name
%p
  = form.label :email
  %br/
  = form.text_field :email
%p
  = form.label :password, form.object.new_record? ? nil : "Change password"
  %br/
  = form.password_field :password
%p
  = form.label :password_confirmation, 'Password confirmation'
  %br/
  = form.password_field :password_confirmation
%p
  = form.label :admin
  %br/
  = form.check_box :admin, {}, "true", "false"
%p
  = form.label :classroom, 'Classroom'
  %br/
  - @userclassroom.each do |theclass|
    =form.label theclass.name
    =form.check_box :classroom, {}, "true", "false"

