= render "shared/error_messages", :target => @user
%p
  = form.label :name
  = form.text_field :name
%p
  = form.label :email
  = form.text_field :email
%p
  = form.label :password, form.object.new_record? ? nil : "Change password"
  = form.password_field :password
%p
  = form.label :password_confirmation, 'Password confirmation'
  = form.password_field :password_confirmation
%p
  = form.label :admin
  = form.check_box :admin, {}, "true", "false"
%p
  = form.label :classroom, 'Classroom'

  - @userclassroom.each do |theclass|
    =theclass.name
    =form.check_box :classroom, {}, "true", "false"


