%h1 Edit User

= form_tag user_path(@user), :method => :put do

  = label :user, :name, 'Name'
  = text_field :user, 'name'
  %br/
  = label :user, :email, 'Email'
  = text_field :user, 'email'
  = label :user, :password
  = password_field :user, :password
  = label :user, :password_confirmation
  = password_field :user, :password_confirmation
  = label :user, :admin, 'Admin'
  = check_box :user, :admin, {}, "true", "false"
  = label :user, :classroom, 'Classroom'
  - Classroom.all.each do |theclass|
    = theclass.name 
    = check_box :user, :classroom, {}, if 'classroom'; 'classroom' == theclass else false end 
  %br/
  = submit_tag 'Update User Info'