%h1 Edit User

= form_tag user_path(@user), :method => :put do

  = label :user, :name, 'Name'
  = text_field :user, 'name'
  %br/
  = label :user, :email, 'Email'
  = text_field :user, 'email'
  = label :user, :password
  = password_field :user, :password
  = label :user, :password_confirmation
  = password_field :user, :password_confirmation
  = label :user, :admin, 'Admin'
  = check_box :user, :admin, {}, "true", "false"
  = label :user, :classroom, 'Classroom'
  - for classroom in Classroom.find(:all)
    = classroom.name
    = check_box_tag "user[classroom_ids][]", classroom.id, @user.classrooms.include?(classroom)

  %br/
  = submit_tag 'Update User Info'
