%h1 Edit User

= form_tag "/users/#{@user[:id]}", :method => :put do

  = label :user, :name, 'Name: '
  = text_field :user, 'name'
  %br/
  = label :user, :email, 'Email: '
  = text_field :user, 'email'
  %br/
  = label :user, :phone_number, 'Phone Number: '
  = text_field :user, 'phone_number'
  %br/
  = label :user, :password
  = password_field :user, :password
  %br/
  = label :user, :password_confirmation
  = password_field :user, :password_confirmation
  %br/
  = label :user, :admin, 'Admin: '
  = check_box :user, :admin, {}, "true", "false"
  %br/
  = label :user, :classroom, 'Classrooms: '
  - for classroom in Classroom.find(:all)
    = classroom.name
    = check_box_tag "user[classroom_ids][]", classroom.id, @user.classrooms.include?(classroom)
  %br/
  = submit_tag 'Update User Info'