%h1 Users
- if admin?
  %table#users
    %thead
      %tr
        %td{:style=>"width: 200px"} <b>Name</b>
        %th
        %th
        %td{:style=>"width: 150px"} <b>Phone Number</b>
        %td{:style=>"width: 200px"} <b>Email</b>
        %td{:style=>"width: 100px"} <b>Is admin?</b>
        %td{:style=>"width: 100px"} <b>Classrooms</b>
        %th
        %th
    %tbody
    
      - User.find(:all).each do |user|
        %tr
          %td= link_to "#{user.name}", user
          %td= link_to "Edit", edit_user_path(user)
          %td= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure?" }
          %td= user.phone_number
          %td= user.email
          %td= user.admin
          - user.classroom_ids.each do |classroom_ids|
            %td= Classroom.find_by_id(classroom_ids).name
- else
  %td HELLO MY LADY HELLO MY HONEY HELLO MY RAGTIME GAL


  = link_to "Add New User", new_user_path