%h1 User Accounts
- if admin?
  %table#users
    %thead
      %tr
        %th Name
        %th Email
        %th Class
        %th
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= user.classroom
          %td= link_to "Edit", edit_user_path(user)
          %td= link_to "Remove", user, method: :delete, data: { confirm: "Are you sure?" }

  = link_to "New User", new_user_path