%p
  %b User name:
  = @user.name
%p
  %b Phone Number:
  = @user.phone_number
%p
  %b Email:
  = @user.email
%p
  %b Classroom:
  - @user.classrooms.each do |room|
    = room.name

\|
- if admin?
  = link_to 'Edit', edit_user_path(@user)
  \|
= link_to 'Back', users_path
\|