%h2 Edit contacts

= form_tag "/contacts/#{@contact[:id]}", :method => :put do

  = label :contacts, :name, 'Name'
  = text_field :contacts, 'name'
  %br/
  = label :contacts, :emaeil, "Email"
  = text_field :contacts, 'email'
  %br/
  = label :contacts, :phone, 'Phone number'
  = text_field :contacts, :phone
  %br/
  = label :contacts, :language, 'Preferred language: '
  = text_field :contacts, :language
  %br/
  = submit_tag 'Update Contacts Info'
  