%p
  %b Contact name:
  = @contact.Name
%p
  %b Phone number:
  = @contact.Phone_Number
%p
  %b Email:
  = @contact.Email
%p
  %b Can text:
  = @contact.can_text
%p
  %b Language:
  = @contact.language
%p
  %b Associated students:
  = " | "
  - @contact.students.each do |student|
    = student.Student_Name + " | "

\|
= link_to "Edit #{@contact.Name}", edit_contact_path(@contact)
\|
= link_to "Delete #{@contact.Name}", contact_path(@contact), :method => :delete, :data => { :confirm => 'Are you really sure?' }
\|
%br/
%br/
\|
= link_to 'List Students', students_path
\|
= link_to 'List Contacts', contacts_path
\|
= link_to 'List Classrooms', classrooms_path
\|
- if admin?
  = link_to 'List Users', users_path
  \|

