-# edit.html.haml using partial

%h1 Edit Existing Movie

= form_tag parent_path(@parent), :method => :put do

  = label :parent, :name, 'Name'
  = text_field :parent, 'name'

  = label :parent, :phoneName, 'Phone Number'
  = text_field :parent, 'phoneNumber'

  = label :parent, :childName, 'Child Name'
  = text_field :parent, 'childName'

  = label :parent, :class, 'Class'
  = select :parent, :class, ['First','Second','Third','Fourth','Fifth','Sixth']

  = submit_tag 'Update Parent Info'
