-#  This file is app/views/parents/index.html.haml
%h1 All Parents

= form_tag parents_path, :method => :get, :id => 'parents_form' do
  = hidden_field_tag "name_sort", true if @name_header
  = hidden_field_tag ":class_sort", true if @class_header
  Include: 
  - @all_classes.each do |class|
    = class
    = check_box_tag "classes[#{class}]", 1, @selected_classes.include?(class), :id => "classes_#{class}"
  = submit_tag 'Refresh', :id => 'classes_submit'

%table#parents
  %thead
    %tr
      %th{:class => @name_header}= link_to 'Parent Name', parents_path(:sort => 'name', :classes => @selected_classes), :id => 'name_header'
      %th phoneNumber
      %th{:class => @childName_header}= link_to 'Child Name', parents_path(:sort => 'childName', :classes => @selected_classes), :id => 'childName_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= parent.name 
        %td= parent.phoneNumber
        %td= parent.childName
 	%td= parent.class
        %td= link_to "More about #{parent.name}", parent_path(movie)

= link_to 'Add new parent', new_parent_path
