%html
  %head
    %title Head Start
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %h1.title Head Start
    - if admin?
      = link_to 'List of Users', '/user'
      \&nbsp 
    = link_to 'Send Message', '/text'
    \&nbsp 
    = link_to 'List of Students', '/students'
    \&nbsp 
    = link_to 'Classrooms', '/classrooms'
    \&nbsp 
    = link_to 'Logout', '/logout'
    %br/
    #main
      %br/
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
    = yield
