%html
  %head
    %title Head Start
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %h1.title Head Start
    = link_to 'List of Users', '/user'
    = link_to 'Send Message', '/text'
    = link_to 'List of Students(layouts)', '/user' #change link!!!!!!
    = link_to 'Logout', '/logout'
    %br/
    #main
      %br/
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
    = yield