
<!DOCTYPE html>
<html>
  <head>
    <title>Head Start</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %> 
    <%= csrf_meta_tags %>
  <head>
  <body>

    <%= render '/shared/header' %>

    <nav class="nav">

      <ul>

        <li class="nav-li">
          <% if @current_user.admin %>
          <div class="nav-dropdown">History</div>
          <a href="/msg-history"       class="hidden">Messages</a>
          <a href="/student-history"   class="hidden">Students</a>
          <a href="/classroom-history" class="hidden">Classrooms</a>
          <a href="/user-history"      class="hidden">Users</a>
          <% else %>
          <a href="/history">History</a>
          <% end %>
        </li>

        <% if @current_user.admin %>
        <li class="nav-li">
          <div class="nav-dropdown">Edit Data</div>
          <a href="/students/edit"       class="hidden">Students </a>
          <a href="/classrooms/edit"     class="hidden">Classroom </a>
          <a href="/users/edit"          class="hidden">Users </a>
        <li>
        <% end %>

        <li class="nav-li">
          <a href="/text" class="">Send Message</a>
        </li>

        <li class="nav-li">
          <a href="/user" class="nav-dropdown">User</a>
          <a href="/settings" class="hidden">Settings</a>
          <a href="/logout" class="hidden">Logout</a>
        </li>
        
      </ul>

    </nav>


    <%= yield %>
  </body>
</html>